<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chaos | 404</title>
    <link rel="stylesheet" href="../public/styles/404.css">
    <link rel="stylesheet" href="../public/styles/scrollbar.css">
    <link rel="icon" href="../public/images/logo.png">
</head>

<body>
    <div class="container">
        <h1>ERROR 404</h1>
        <p>Cannot find the specific site</p>
        <a href="/">Go to home</a>
    </div>
</body>

</html>