<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chaos | Dashboard</title>

    <link rel="stylesheet" href="../public/styles/dashboard.css">
    <link rel="stylesheet" href="../public/styles/scrollbar.css">
    <link rel="icon" href="../public/images/logo.png">
    <script src="../public/scripts/dashboard.js" defer></script>
</head>
<body>
    <div class="left-side">
        <div class="left-navbar">
            <div class="chats"></div>
            <div class="groups"></div>
            <div class="requests"></div>
            <div class="profile"></div>
        </div>
        
        <div class="left-list">

        </div>
    </div>

    <div class="mid-side">
        <div class="mid-navbar"></div>

        <ol class="chat">
            <li class="other">
                <div class="msg">
                    <div class="user">Admin<span class="range admin">Admin</span></div>
                    <p>Dude</p>
                    <p>Want to go dinner?</p>
                    <time>20:17</time>
                </div>
            </li>
            <p class="notification">Godność left the chat <time>18:11</time></p>
            <li class="self">
                <div class="msg">
                    <p>Puff...</p>
                    <p>I'm still doing the Góngora comment...</p>
                    <p>Better other day</p>
                    <time>20:18</time>
                </div>
            </li>
            <div class="day">Today</div>
            <li class="self">
                <div class="msg">
                    <img src="https://i.pinimg.com/474x/85/16/a9/8516a91a54dc5c35f17f3e77ae71401a.jpg" draggable="false" />
                    <time>20:19</time>
                </div>
            </li>
            <li class="other">
                <div class="msg">
                    <div class="user">Admin<span class="range admin">Admin</span></div>
                    <img src="https://i.pinimg.com/474x/85/16/a9/8516a91a54dc5c35f17f3e77ae71401a.jpg" draggable="false" />
                    <time>20:20</time>
                </div>
            </li>
            <li class="other">
                <div class="msg">
                    <div class="user">Admin<span class="range admin">Admin</span></div>
                    <p>Kinda gay bro</p>
                    <time>20:21</time>
                </div>
            </li>
        </ol>

        <div class="mid-typezone"></div>
    </div>

    <div class="right-side">
        
    </div>
</body>
</html>