<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chaos</title>

    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css"/>
    <link rel="stylesheet" href="../public/styles/landing.css">
    <link rel="icon" href="../public/images/dymki_1080.png">
</head>
<body>
    <!--NAVBAR-->
    <div class="navbar">
            <div class="navbarlogo">
                <div class="menu">
                    <svg width="140" height="105" viewBox="0 0 140 112" fill="none" xmlns="http://www.w3.org/2000/svg" data-aos="fade-down">
                        <path d="M137.832 99.1042C133.875 96.9896 130.382 94.1025 127.559 90.6139C124.737 87.1254 122.643 83.1061 121.402 78.7941C121.257 78.2885 121.014 77.8165 120.686 77.4049C120.359 76.9934 119.953 76.6503 119.493 76.3954C119.033 76.1405 118.527 75.9788 118.005 75.9193C117.482 75.8599 116.953 75.904 116.447 76.0491C115.942 76.1942 115.47 76.4375 115.058 76.7651C114.646 77.0926 114.304 77.4981 114.049 77.9582C113.794 78.4183 113.632 78.9241 113.573 79.4467C113.513 79.9693 113.557 80.4986 113.702 81.0042C116.054 89.1625 120.849 96.4042 127.442 101.754C121.608 103.408 115.433 103.444 109.58 101.859C103.726 100.274 98.4145 97.1265 94.2122 92.7542V92.7542C93.6405 92.1672 92.9023 91.7698 92.0975 91.616C91.2927 91.4622 90.4601 91.5593 89.7122 91.8941C81.0532 95.7021 71.6699 97.5822 62.2122 97.4041C29.9422 96.8841 8.11234 74.8442 8.08234 53.9842C6.51234 27.7142 37.2723 3.11417 73.7923 8.98417C99.1623 13.1942 112.542 29.0641 114.712 40.8141C116.012 47.8141 113.762 57.0441 111.372 59.0441C108.222 57.7541 106.462 42.6042 98.7523 43.2142C90.2823 43.9342 89.802 60.6442 85.492 65.4742L85.4422 65.5341C85.3774 65.4683 85.3171 65.3982 85.262 65.3241C79.372 58.3241 77.0419 28.1042 64.1619 28.1142C50.7919 27.9442 48.4024 60.7142 42.8524 65.4842C37.7424 58.7442 37.9219 44.1942 29.6619 43.2442C21.7519 42.2442 22.3023 54.6341 18.0023 57.1441L17.6522 57.3542C16.9047 57.8047 16.3514 58.5169 16.0994 59.3526C15.8474 60.1882 15.9146 61.0877 16.2884 61.8764C16.6622 62.6651 17.3156 63.2867 18.1219 63.6208C18.9282 63.9548 19.8301 63.9774 20.6522 63.6841C25.4122 61.9141 27.3419 57.7942 29.1619 53.1242C32.0019 60.0342 34.4019 74.5841 43.1619 73.8241C54.0419 73.3441 55.632 49.5941 61.992 38.6641C63.272 36.4641 63.9923 36.2841 64.0823 36.1941C64.2994 36.2981 64.4954 36.4404 64.6619 36.6142C71.4319 42.9142 73.2923 73.4041 85.0823 73.8141C86.3062 73.8195 87.5159 73.5532 88.6243 73.0345C89.7328 72.5157 90.7121 71.7573 91.492 70.8141C95.362 66.3641 96.8321 58.4941 99.0721 53.0741C101.992 59.3741 104.542 67.7041 112.072 67.0741C118.472 66.7141 121.632 58.2341 122.692 51.9041C126.362 24.0041 102.602 5.56417 75.0623 0.984172C33.6623 -5.68583 -1.68768 22.5941 0.0623239 54.1541C0.252324 79.2841 25.4623 104.754 62.0623 105.324C71.7546 105.496 81.3853 103.753 90.4022 100.194C96.7167 105.966 104.663 109.641 113.15 110.715C121.637 111.789 130.249 110.21 137.802 106.194C138.451 105.858 138.996 105.351 139.377 104.728C139.758 104.105 139.961 103.389 139.964 102.658C139.967 101.928 139.77 101.21 139.394 100.584C139.018 99.957 138.478 99.4453 137.832 99.1042ZM43.0321 65.7141C43.0321 65.7141 43.0421 65.7241 43.0321 65.7141V65.7141Z" fill="#339CE7"/>
                        </svg>
                    <div data-aos="fade-down" data-aos-delay="200"><a href="#">Features</a></div>
                    <div data-aos="fade-down" data-aos-delay="200"><a href="#">Menu</a></div>
                    <div data-aos="fade-down" data-aos-delay="200"><a href="#">Menu</a></div>
                    <div data-aos="fade-down" data-aos-delay="200"><a href="#">Menu</a></div>
                </div>
            <div class="navbar-buttons">

                <a href="#">
                    <div class="navbar-button-1" data-aos="fade-down" data-aos-delay="300">
                    Log in
                    </div>
                </a>

                <a href="#">
                <div class="navbar-button-2" data-aos="fade-down" data-aos-delay="300">
                    Sign Up
                </div>
                </a>
            </div>
            </div>
        </div>
    <!--NAVBAR-->

    <div class="middlebody">
        <div class="upper-text">
            <p>Welcome to Chaos</p>
        </div>
        <div class="middle-text">
            <h1>Your <span>#1</span> Communicator</h1>
        </div>
        <div class="lower-text">
            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
        </div>

        <div class="middle-buttons">
            <a href="#">
            <div class="middle-button-1" data-aos="fade-up" data-aos-delay="600"> 
                <svg width="20" height="20" viewBox="0 0 140 112" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M137.832 99.1042C133.875 96.9896 130.382 94.1025 127.559 90.6139C124.737 87.1254 122.643 83.1061 121.402 78.7941C121.257 78.2885 121.014 77.8165 120.686 77.4049C120.359 76.9934 119.953 76.6503 119.493 76.3954C119.033 76.1405 118.527 75.9788 118.005 75.9193C117.482 75.8599 116.953 75.904 116.447 76.0491C115.942 76.1942 115.47 76.4375 115.058 76.7651C114.646 77.0926 114.304 77.4981 114.049 77.9582C113.794 78.4183 113.632 78.9241 113.573 79.4467C113.513 79.9693 113.557 80.4986 113.702 81.0042C116.054 89.1625 120.849 96.4042 127.442 101.754C121.608 103.408 115.433 103.444 109.58 101.859C103.726 100.274 98.4145 97.1265 94.2122 92.7542V92.7542C93.6405 92.1672 92.9023 91.7698 92.0975 91.616C91.2927 91.4622 90.4601 91.5593 89.7122 91.8941C81.0532 95.7021 71.6699 97.5822 62.2122 97.4041C29.9422 96.8841 8.11234 74.8442 8.08234 53.9842C6.51234 27.7142 37.2723 3.11417 73.7923 8.98417C99.1623 13.1942 112.542 29.0641 114.712 40.8141C116.012 47.8141 113.762 57.0441 111.372 59.0441C108.222 57.7541 106.462 42.6042 98.7523 43.2142C90.2823 43.9342 89.802 60.6442 85.492 65.4742L85.4422 65.5341C85.3774 65.4683 85.3171 65.3982 85.262 65.3241C79.372 58.3241 77.0419 28.1042 64.1619 28.1142C50.7919 27.9442 48.4024 60.7142 42.8524 65.4842C37.7424 58.7442 37.9219 44.1942 29.6619 43.2442C21.7519 42.2442 22.3023 54.6341 18.0023 57.1441L17.6522 57.3542C16.9047 57.8047 16.3514 58.5169 16.0994 59.3526C15.8474 60.1882 15.9146 61.0877 16.2884 61.8764C16.6622 62.6651 17.3156 63.2867 18.1219 63.6208C18.9282 63.9548 19.8301 63.9774 20.6522 63.6841C25.4122 61.9141 27.3419 57.7942 29.1619 53.1242C32.0019 60.0342 34.4019 74.5841 43.1619 73.8241C54.0419 73.3441 55.632 49.5941 61.992 38.6641C63.272 36.4641 63.9923 36.2841 64.0823 36.1941C64.2994 36.2981 64.4954 36.4404 64.6619 36.6142C71.4319 42.9142 73.2923 73.4041 85.0823 73.8141C86.3062 73.8195 87.5159 73.5532 88.6243 73.0345C89.7328 72.5157 90.7121 71.7573 91.492 70.8141C95.362 66.3641 96.8321 58.4941 99.0721 53.0741C101.992 59.3741 104.542 67.7041 112.072 67.0741C118.472 66.7141 121.632 58.2341 122.692 51.9041C126.362 24.0041 102.602 5.56417 75.0623 0.984172C33.6623 -5.68583 -1.68768 22.5941 0.0623239 54.1541C0.252324 79.2841 25.4623 104.754 62.0623 105.324C71.7546 105.496 81.3853 103.753 90.4022 100.194C96.7167 105.966 104.663 109.641 113.15 110.715C121.637 111.789 130.249 110.21 137.802 106.194C138.451 105.858 138.996 105.351 139.377 104.728C139.758 104.105 139.961 103.389 139.964 102.658C139.967 101.928 139.77 101.21 139.394 100.584C139.018 99.957 138.478 99.4453 137.832 99.1042ZM43.0321 65.7141C43.0321 65.7141 43.0421 65.7241 43.0321 65.7141V65.7141Z" fill="#339CE7"/>
                    </svg>
                Open <span>Chaos</span>
            </div>
            </a>
            <a href="#">
            <div class="middle-button-2" data-aos="fade-up" data-aos-delay="600">
                <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABmJLR0QA/wD/AP+gvaeTAAABBElEQVRIie2VsWoCQRCGvznEFAZLRTlTxCtSClclxJDHyGsIsb8+XZ4ooIKFRNOlCCakiJVliguJk8JTTtTd88RC8YdlF+abnRl2mIWjLJI0Tt7jOP/3E9ZEcRGKKC5KEaECFFTk5f2+dAeQmTndBpr5OB15AgVhCjKZ7iK4Cv1hs9wAmIThs0AVAF1OVVQvgMUAn7lR11H8VfVFd9wAjchSTVqtEzv7a6mlHJPLsSPb6bACtC1sKyW755q33vnDVwe4MrDtYbNc35SNv4HJAeA6DXtYbbrzAD0Lqxb7Ss2n6dl36dI0rtF4AvIG6m0U4CmQX+A1WkY5J1nf9OGADBKXeNQ/K/hGnSzFDgAAAAAASUVORK5CYII="> Download for Windows
            </div>
            </a>
        </div>


<div class="supported-browsers-text">
    <h2> We currently support following browsers </h2> 
</div>

        <div class="supported-browsers">
            <div class="chrome">
                <svg stroke="currentColor" fill="currentColor" stroke-width="0" role="img" viewBox="0 0 24 24" class="h-7 w-auto sm:h-9" height="2em" width="2em" xmlns="http://www.w3.org/2000/svg"><title></title><path d="M12 0C8.21 0 4.831 1.757 2.632 4.501l3.953 6.848A5.454 5.454 0 0 1 12 6.545h10.691A12 12 0 0 0 12 0zM1.931 5.47A11.943 11.943 0 0 0 0 12c0 6.012 4.42 10.991 10.189 11.864l3.953-6.847a5.45 5.45 0 0 1-6.865-2.29zm13.342 2.166a5.446 5.446 0 0 1 1.45 7.09l.002.001h-.002l-5.344 9.257c.206.01.413.016.621.016 6.627 0 12-5.373 12-12 0-1.54-.29-3.011-.818-4.364zM12 16.364a4.364 4.364 0 1 1 0-8.728 4.364 4.364 0 0 1 0 8.728Z"></path></svg>
                <p> Chrome </p>
            </div>

            <div class="edge">
                <svg stroke="currentColor" fill="currentColor" stroke-width="0" role="img" viewBox="0 0 24 24" class="h-7 w-auto sm:h-9" height="2em" width="2em" xmlns="http://www.w3.org/2000/svg"><title></title><path d="M21.86 17.86q.14 0 .25.12.1.13.1.25t-.11.33l-.32.46-.43.53-.44.5q-.21.25-.38.42l-.22.23q-.58.53-1.34 1.04-.76.51-1.6.91-.86.4-1.74.64t-1.67.24q-.9 0-1.69-.28-.8-.28-1.48-.78-.68-.5-1.22-1.17-.53-.66-.92-1.44-.38-.77-.58-1.6-.2-.83-.2-1.67 0-1 .32-1.96.33-.97.87-1.8.14.95.55 1.77.41.82 1.02 1.5.6.68 1.38 1.21.78.54 1.64.9.86.36 1.77.56.92.2 1.8.2 1.12 0 2.18-.24 1.06-.23 2.06-.72l.2-.1.2-.05zm-15.5-1.27q0 1.1.27 2.15.27 1.06.78 2.03.51.96 1.24 1.77.74.82 1.66 1.4-1.47-.2-2.8-.74-1.33-.55-2.48-1.37-1.15-.83-2.08-1.9-.92-1.07-1.58-2.33T.36 14.94Q0 13.54 0 12.06q0-.81.32-1.49.31-.68.83-1.23.53-.55 1.2-.96.66-.4 1.35-.66.74-.27 1.5-.39.78-.12 1.55-.12.7 0 1.42.1.72.12 1.4.35.68.23 1.32.57.63.35 1.16.83-.35 0-.7.07-.33.07-.65.23v-.02q-.63.28-1.2.74-.57.46-1.05 1.04-.48.58-.87 1.26-.38.67-.65 1.39-.27.71-.42 1.44-.15.72-.15 1.38zM11.96.06q1.7 0 3.33.39 1.63.38 3.07 1.15 1.43.77 2.62 1.93 1.18 1.16 1.98 2.7.49.94.76 1.96.28 1 .28 2.08 0 .89-.23 1.7-.24.8-.69 1.48-.45.68-1.1 1.22-.64.53-1.45.88-.54.24-1.11.36-.58.13-1.16.13-.42 0-.97-.03-.54-.03-1.1-.12-.55-.1-1.05-.28-.5-.19-.84-.5-.12-.09-.23-.24-.1-.16-.1-.33 0-.15.16-.35.16-.2.35-.5.2-.28.36-.68.16-.4.16-.95 0-1.06-.4-1.96-.4-.91-1.06-1.64-.66-.74-1.52-1.28-.86-.55-1.79-.89-.84-.3-1.72-.44-.87-.14-1.76-.14-1.55 0-3.06.45T.94 7.55q.71-1.74 1.81-3.13 1.1-1.38 2.52-2.35Q6.68 1.1 8.37.58q1.7-.52 3.58-.52Z"></path></svg>
                <p> Edge </p>
            </div>

            <div class="brave">
                <svg stroke="currentColor" fill="currentColor" stroke-width="0" role="img" viewBox="0 0 24 24" class="h-7 w-auto sm:h-9" height="2em" width="2em" xmlns="http://www.w3.org/2000/svg"><title></title><path d="M15.68 0l2.096 2.38s1.84-.512 2.709.358c.868.87 1.584 1.638 1.584 1.638l-.562 1.381.715 2.047s-2.104 7.98-2.35 8.955c-.486 1.919-.818 2.66-2.198 3.633-1.38.972-3.884 2.66-4.293 2.916-.409.256-.92.692-1.38.692-.46 0-.97-.436-1.38-.692a185.796 185.796 0 01-4.293-2.916c-1.38-.973-1.712-1.714-2.197-3.633-.247-.975-2.351-8.955-2.351-8.955l.715-2.047-.562-1.381s.716-.768 1.585-1.638c.868-.87 2.708-.358 2.708-.358L8.321 0h7.36zm-3.679 14.936c-.14 0-1.038.317-1.758.69-.72.373-1.242.637-1.409.742-.167.104-.065.301.087.409.152.107 2.194 1.69 2.393 1.866.198.175.489.464.687.464.198 0 .49-.29.688-.464.198-.175 2.24-1.759 2.392-1.866.152-.108.254-.305.087-.41-.167-.104-.689-.368-1.41-.741-.72-.373-1.617-.69-1.757-.69zm0-11.278s-.409.001-1.022.206-1.278.46-1.584.46c-.307 0-2.581-.434-2.581-.434S4.119 7.152 4.119 7.849c0 .697.339.881.68 1.243l2.02 2.149c.192.203.59.511.356 1.066-.235.555-.58 1.26-.196 1.977.384.716 1.042 1.194 1.464 1.115.421-.08 1.412-.598 1.776-.834.364-.237 1.518-1.19 1.518-1.554 0-.365-1.193-1.02-1.413-1.168-.22-.15-1.226-.725-1.247-.95-.02-.227-.012-.293.284-.851.297-.559.831-1.304.742-1.8-.089-.495-.95-.753-1.565-.986-.615-.232-1.799-.671-1.947-.74-.148-.068-.11-.133.339-.175.448-.043 1.719-.212 2.292-.052.573.16 1.552.403 1.632.532.079.13.149.134.067.579-.081.445-.5 2.581-.541 2.96-.04.38-.12.63.288.724.409.094 1.097.256 1.333.256s.924-.162 1.333-.256c.408-.093.329-.344.288-.723-.04-.38-.46-2.516-.541-2.961-.082-.445-.012-.45.067-.579.08-.129 1.059-.372 1.632-.532.573-.16 1.845.009 2.292.052.449.042.487.107.339.175-.148.069-1.332.508-1.947.74-.615.233-1.476.49-1.565.986-.09.496.445 1.241.742 1.8.297.558.304.624.284.85-.02.226-1.026.802-1.247.95-.22.15-1.413.804-1.413 1.169 0 .364 1.154 1.317 1.518 1.554.364.236 1.355.755 1.776.834.422.079 1.08-.4 1.464-1.115.384-.716.039-1.422-.195-1.977-.235-.555.163-.863.355-1.066l2.02-2.149c.341-.362.68-.546.68-1.243 0-.697-2.695-3.96-2.695-3.96s-2.274.436-2.58.436c-.307 0-.972-.256-1.585-.461-.613-.205-1.022-.206-1.022-.206z"></path></svg>
                <p> Brave </p>
            </div>

            <div class="firefox">
                <svg stroke="currentColor" fill="currentColor" stroke-width="0" role="img" viewBox="0 0 24 24" class="h-7 w-auto sm:h-9" height="2em" width="2em" xmlns="http://www.w3.org/2000/svg"><title></title><path d="M8.824 7.287c.008 0 .004 0 0 0zm-2.8-1.4c.006 0 .003 0 0 0zm16.754 2.161c-.505-1.215-1.53-2.528-2.333-2.943.654 1.283 1.033 2.57 1.177 3.53l.002.02c-1.314-3.278-3.544-4.6-5.366-7.477-.091-.147-.184-.292-.273-.446a3.545 3.545 0 01-.13-.24 2.118 2.118 0 01-.172-.46.03.03 0 00-.027-.03.038.038 0 00-.021 0l-.006.001a.037.037 0 00-.01.005L15.624 0c-2.585 1.515-3.657 4.168-3.932 5.856a6.197 6.197 0 00-2.305.587.297.297 0 00-.147.37c.057.162.24.24.396.17a5.622 5.622 0 012.008-.523l.067-.005a5.847 5.847 0 011.957.222l.095.03a5.816 5.816 0 01.616.228c.08.036.16.073.238.112l.107.055a5.835 5.835 0 01.368.211 5.953 5.953 0 012.034 2.104c-.62-.437-1.733-.868-2.803-.681 4.183 2.09 3.06 9.292-2.737 9.02a5.164 5.164 0 01-1.513-.292 4.42 4.42 0 01-.538-.232c-1.42-.735-2.593-2.121-2.74-3.806 0 0 .537-2 3.845-2 .357 0 1.38-.998 1.398-1.287-.005-.095-2.029-.9-2.817-1.677-.422-.416-.622-.616-.8-.767a3.47 3.47 0 00-.301-.227 5.388 5.388 0 01-.032-2.842c-1.195.544-2.124 1.403-2.8 2.163h-.006c-.46-.584-.428-2.51-.402-2.913-.006-.025-.343.176-.389.206-.406.29-.787.616-1.136.974-.397.403-.76.839-1.085 1.303a9.816 9.816 0 00-1.562 3.52c-.003.013-.11.487-.19 1.073-.013.09-.026.181-.037.272a7.8 7.8 0 00-.069.667l-.002.034-.023.387-.001.06C.386 18.795 5.593 24 12.016 24c5.752 0 10.527-4.176 11.463-9.661.02-.149.035-.298.052-.448.232-1.994-.025-4.09-.753-5.844z"></path></svg>
                <p> Firefox </p>
            </div>
        </div>
    </div>

    <div class="middle-body-2">
        <div class="features">
            <div class="feature1" data-aos="fade-down" data-aos-delay="400">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:svgjs="http://svgjs.com/svgjs" xmlns:xlink="http://www.w3.org/1999/xlink" width="250" height="250"><svg xmlns="http://www.w3.org/2000/svg" width="250" height="250" enable-background="new 0 0 100 100" viewBox="0 0 100 100"><path fill="#fff" d="M22 54h56c1.7 0 3-1.3 3-3v-3c0-1.7-1.3-3-3-3h-8.5l4.5-33c.3-2-.3-4-1.7-5.6C71.1 4.9 69.1 4 67.1 4H32.9c-2 0-4 .9-5.3 2.4-1.3 1.5-1.9 3.6-1.7 5.6l4.5 33H22c-1.7 0-3 1.3-3 3v3C19 52.7 20.3 54 22 54zM27.9 11.7c-.2-1.4.2-2.9 1.2-4 1-1.1 2.3-1.7 3.8-1.7h34.2c1.4 0 2.8.6 3.8 1.7 1 1.1 1.4 2.5 1.2 4L67.5 45H32.5L27.9 11.7zM21 48c0-.6.4-1 1-1h9.6 36.8H78c.6 0 1 .4 1 1v3c0 .6-.4 1-1 1H22c-.6 0-1-.4-1-1V48zM54.4 65h-8.8c-1.3-5.2-6-9-11.6-9-6.6 0-12 5.4-12 12s5.4 12 12 12c5.2 0 9.6-3.3 11.3-8h9.4c1.7 4.7 6.1 8 11.3 8 6.6 0 12-5.4 12-12s-5.4-12-12-12C60.4 56 55.7 59.8 54.4 65zM34 78c-5.5 0-10-4.5-10-10s4.5-10 10-10 10 4.5 10 10S39.5 78 34 78zM45.8 70c.1-.7.2-1.3.2-2 0-.3 0-.7-.1-1h8.1c0 .3-.1.7-.1 1 0 .7.1 1.3.2 2H45.8zM76 68c0 5.5-4.5 10-10 10s-10-4.5-10-10 4.5-10 10-10S76 62.5 76 68z" class="color000 svgShape"/><path fill="#fff" d="M81.2,79c-0.5-0.1-0.9,0.2-1.1,0.6c-1.1,3.1-3.2,5.1-6.1,5.9c-4.4,1.3-9.8-0.4-12.6-2.6C56.7,79.3,51.2,80,50,80.2    c-1.1-0.2-6.7-0.9-11.3,2.7c-2.8,2.2-8.2,3.9-12.6,2.6c-2.9-0.8-5-2.8-6.1-5.9c-0.2-0.5-0.6-0.7-1.1-0.6c-0.5,0.1-0.8,0.5-0.8,1    c0,0.1,0.2,14.7,15.3,16c5.5,0,8.3-0.8,10.7-1.5c1.9-0.5,3.5-1,6-1s4.1,0.5,6,1c2.5,0.7,5.3,1.5,10.8,1.5c0,0,0,0,0,0    C81.8,94.7,82,80.1,82,80C82,79.5,81.7,79.1,81.2,79z M66.7,94c-5.2,0-7.8-0.8-10.2-1.4c-1.9-0.6-3.7-1.1-6.5-1.1    s-4.6,0.5-6.5,1.1c-2.3,0.7-5,1.4-10.1,1.4c-7.8-0.7-11.1-5.3-12.4-9c1.2,1.2,2.7,2.1,4.5,2.6c5.1,1.5,11.2-0.5,14.4-3    c4.3-3.4,9.8-2.3,9.9-2.3c0.1,0,0.3,0,0.4,0c0.1,0,5.6-1.1,9.9,2.3c3.2,2.5,9.4,4.5,14.4,3c1.7-0.5,3.3-1.4,4.5-2.6    C77.7,88.7,74.5,93.3,66.7,94z" class="color000 svgShape" /></svg></svg>
                <h1> Secured data </h1>
                <p> Our data is highly secured </p>
                <div class="feature1-p">
                <p>and encrypted in our database</p>
            </div>
            </div>
            
            <div class="feature2" data-aos="fade-down" data-aos-delay="400">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:svgjs="http://svgjs.com/svgjs" xmlns:xlink="http://www.w3.org/1999/xlink" width="250" height="250"><svg xmlns="http://www.w3.org/2000/svg" width="250" height="250" enable-background="new 0 0 100 100" viewBox="0 0 100 100"><path fill="#fff" d="M75,29H51V11c0-0.6-0.4-1-1-1H36c-0.5,0-0.9,0.4-1,0.9L34.2,16c-2.6,0.7-5,1.8-7.4,3.1l-4.1-3.1c-0.4-0.3-1-0.3-1.3,0.1    L10,27.4c-0.4,0.4-0.4,0.9-0.1,1.3l3.1,4.1c-1.3,2.3-2.3,4.8-3.1,7.4L4.9,41C4.4,41.1,4,41.5,4,42V58c0,0.5,0.4,0.9,0.9,1l5.1,0.8    c0.7,2.6,1.8,5,3.1,7.4l-3.1,4.1c-0.3,0.4-0.3,1,0.1,1.3L21.4,84c0.4,0.4,0.9,0.4,1.3,0.1l4.1-3.1c2.3,1.3,4.8,2.3,7.4,3.1    l0.8,5.1c0.1,0.5,0.5,0.9,1,0.9h14c0.1,0,0.3,0,0.4-0.1c0,0,0,0,0,0c0.1-0.1,0.2-0.1,0.3-0.2c0,0,0,0,0,0L68.4,71H75    c11.6,0,21-9.4,21-21S86.6,29,75,29z M36.1,83.1c-0.1-0.4-0.3-0.7-0.7-0.8c-2.8-0.8-5.6-1.9-8.1-3.4c-0.3-0.2-0.8-0.2-1.1,0.1    l-4,3L12.1,71.8l3-4c0.2-0.3,0.3-0.8,0.1-1.1c-1.5-2.6-2.6-5.3-3.4-8.1c-0.1-0.4-0.4-0.7-0.8-0.7L6,57.2V42.8l4.9-0.7    c0.4-0.1,0.7-0.3,0.8-0.7c0.8-2.8,1.9-5.6,3.4-8.1c0.2-0.3,0.2-0.8-0.1-1.1l-3-4l10.1-10.1l4,3c0.3,0.2,0.8,0.3,1.1,0.1    c2.6-1.5,5.3-2.6,8.1-3.4c0.4-0.1,0.7-0.4,0.7-0.8l0.7-4.9H49v17h-6c-11.6,0-21,9.4-21,21s9.4,21,21,21h6v17H36.8L36.1,83.1z     M75,69h-7c-0.3,0-0.5,0.1-0.7,0.3L51,86.5V70c0-0.6-0.4-1-1-1h-7c-10.5,0-19-8.5-19-19s8.5-19,19-19h32c10.5,0,19,8.5,19,19    S85.5,69,75,69z" class="color000 svgShape"/><path fill="#fff" d="M59 43c-3.9 0-7 3.1-7 7s3.1 7 7 7 7-3.1 7-7S62.9 43 59 43zM59 55c-2.8 0-5-2.2-5-5s2.2-5 5-5 5 2.2 5 5S61.8 55 59 55zM79 43c-3.9 0-7 3.1-7 7s3.1 7 7 7 7-3.1 7-7S82.9 43 79 43zM79 55c-2.8 0-5-2.2-5-5s2.2-5 5-5 5 2.2 5 5S81.8 55 79 55zM39 43c-3.9 0-7 3.1-7 7s3.1 7 7 7 7-3.1 7-7S42.9 43 39 43zM39 55c-2.8 0-5-2.2-5-5s2.2-5 5-5 5 2.2 5 5S41.8 55 39 55z" class="color000 svgShape"/></svg></svg>
            <h1> Helpful support </h1>
            <p> Our support is here to assist you </p>
            <div class="feature2-p">
                <p>and answer all your questions</p>
            </div>
            </div>

            <div class="feature3" data-aos="fade-down" data-aos-delay="400">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:svgjs="http://svgjs.com/svgjs" xmlns:xlink="http://www.w3.org/1999/xlink" width="250" height="250"><svg xmlns="http://www.w3.org/2000/svg" width="250" height="250" enable-background="new 0 0 100 100" viewBox="0 0 100 100"><path fill="#fff" d="M50,19C25.1,19,4.9,38.5,4,63.4C4,64.8,5.2,66,6.6,66c1.2,0,2.2-0.8,2.6-2c4-14.2,17-24,31.8-24c6.9,0,13.5,2.1,19.1,6.1   l-17.6,17C42,63.1,41.5,63,41,63c-5,0-9,4-9,9s4,9,9,9s9-4,9-9c0-0.5-0.1-1-0.1-1.5l14-21.3c4.2,4.1,7.3,9.2,8.9,14.8   c0.3,1.2,1.4,2,2.6,2h18c0.7,0,1.4-0.3,1.9-0.8c0.5-0.5,0.8-1.2,0.7-1.9C95,38.5,74.8,19,50,19z M67.9,24.8L55.4,41.1   c-4.2-1.9-8.7-3-13.4-3.1V21.7c2.6-0.5,5.2-0.7,8-0.7C56.4,21,62.4,22.4,67.9,24.8z M27.9,40.6l-4.8-10.5   c4.9-3.8,10.6-6.5,16.9-7.9V38C35.8,38.1,31.7,39,27.9,40.6z M7.3,63.5C7.2,63.8,6.9,64,6.6,64C6.3,64,6,63.7,6,63.4   c0.2-6.1,1.7-11.9,4.1-17.1l4.9,3.3C11.5,53.5,8.8,58.2,7.3,63.5z M16.4,48.1L11,44.5c2.6-5,6.2-9.5,10.5-13.1l4.5,10   C22.5,43,19.2,45.3,16.4,48.1z M41,79c-3.9,0-7-3.1-7-7s3.1-7,7-7s7,3.1,7,7S44.9,79,41,79z M44.7,63.8l19.6-18.9L62.9,47   c0,0,0,0,0,0c-0.1,0.1-0.1,0.2-0.1,0.2L49.1,68.1C48.2,66.2,46.6,64.6,44.7,63.8z M64.9,47.5l5.9-9c0.3-0.4,0.2-1-0.2-1.3   s-1-0.3-1.3,0l-7.7,7.4c-1.4-1-2.8-1.9-4.3-2.7l12.5-16.3c7.1,3.6,13.1,9,17.4,15.6l-19.5,8.8c0,0-0.1,0.1-0.1,0.1   C66.7,49.2,65.8,48.4,64.9,47.5z M93.8,63.8c-0.1,0.1-0.3,0.2-0.5,0.2h-18c-0.3,0-0.5-0.2-0.6-0.5c-1.2-4.3-3.2-8.2-5.9-11.7   L88.2,43c3.4,6,5.5,12.9,5.8,20.3C93.9,63.6,93.8,63.7,93.8,63.8z" class="color000 svgShape"/></svg></svg>            
                <h1> 99% Uptime </h1>
                <p> We provide reliable service where</p>
                <div class="feature3-p">
                    <p>problems are being solved fast</p>
                </div>
            </div>
        </div>
    </div>

    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
</body>
</html>