<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chaos | Sign up</title>
    <link rel="stylesheet" href="../public/styles/sign_up.css">
    <link rel="stylesheet" href="../public/styles/scrollbar.css">
    <link rel="icon" href="../public/images/logo.png">
    <script src="../public/scripts/sign_up.js" defer></script>   
</head>
<body>
    <div class="container">
        <div class="error" id="error"></div>

        <div class="upperText">
            <h1> Sign up </h1>
            <hr>
        </div>

        <form class="form-inputs" accept="">
            <label> Nickname </label><br>
            <input type="text" class="nick" id="nick" minlength="3" maxlength="64" autocomplete="nickname" title="Nickname displays on ur profile" required><br>
            <label for="email"> E-mail </label><br>
            <input type="text" class="email" id="email" autocomplete="email" minlength="3" maxlength="64" title="email to ur account" required><br>
            <label for="password"> Password </label><br>
            <input type="password" class="password" id="password" autocomplete="new-password" minlength="6" maxlength="64" title="password to ur account" required><br>
            <a href="/forgot_password">Forgot Password?</a>

            <div class="button">
                <button id="submit">SIGN UP</button>
                <a href="/sign_in">Already a member?</a>
            </div>
        </form>
    </div>
</body>
</html>