@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

html,
body {
    scroll-behavior: smooth;
    margin: 0px;
    padding: 0px;
}

* {
    box-sizing: border-box;
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
}

/* Left panel */
.left-side {
    float: left;
    height: 100vh;
    width: 25%;
}

.left-navbar {
    float: left;
    border: 1px solid black;
    background-color: blue;
    height: 100%;
    width: 15%;
}

.left-list {
    float: left;
    border: 1px solid black;
    background-color: chocolate;
    height: 100%;
    width: 85%;
}

.left-side h1 {
    padding: 20px
}

/* Mid panel */
.mid-side {
    border: 1px solid black;
    background-color: green;
    height: 100vh;
    width: 50%;
    display: flex;
    float: left;
    flex-direction: column;
}

/* Right panel */
.right-side {
    width: 25%;
    border: 1px solid black;
    background-color: red;
    height: 100vh;
    float: left;
}

/* mobile screeen*/
@media screen and (max-width: 768px) {
    /* here.. */
}